{#
  Themes hierarchical taxonomy terms as nested <ul> elements.

  Available variables:
    - element: The collection of checkboxes or radio buttons to render.
    - children: An array of keys for the children of element.
    - depth: If is_nested is TRUE, this holds an array in the form of
      child_id => nesting_level which defines the depth a given element should
      appear in the nested list.
#}
{% spaceless %}
  {% set current_nesting_level = 0 %}
  <ul>
    {% for child in children %}
    {% if depth[child] == current_nesting_level %}
      {% if not loop.first %}
        {# There is no open <li> tag to close the first time through. #}
        </li>
      {% endif %}
    {% else %}
      {# Do once for each nesting level we are changing between this element
      and the next one. #}
      {% set delta = (current_nesting_level - depth[child]) | abs %}
      {% for i in 1..delta %}
        {% if depth[child] > current_nesting_level %}
          {# Next nesting level is deeper, so open a new <ul> tag within the
          existing <li> tag. #}
          <ul>
        {% else %}
          {# Next nesting level is more shallow, so close the current <li>
          tag and the current <ul> tag. #}
          </li></ul>
        {% endif %}
      {% endfor %}
      {% set current_nesting_level = depth[child] %}
    {% endif %}
    {# Print the current checkbox element, leaving the <li> tag open in case
    we need to go deeper on the subsequent iteration. #}
    <li>{{ element[child] }}
      {% endfor %}

      {# Close any remaining <li> tags #}
      {% for i in nesting_level..0 %}
    </li>
    {% endfor %}
  </ul>
{% endspaceless %}
