{%
  set classes = [
    'bef-links',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if isNested %}
    {% include '@better_exposed_filters/bef-nested-elements.html.twig' %}
  {% else %}
    {% for value, link in links %}
      {%- spaceless %}
        {% if value in selected %}
          {% set link = link|merge({'#attributes': {'class': 'bef-link-active'}}) %}
        {% endif %}
        {{ link }}
      {% endspaceless -%}
    {% endfor %}
  {% endif %}
</div>
